data_sets
direc_search
Source/Version 2/codeChunks
Source/Version 2/distributors
Source/Version 3/codeChunks
Source/Version 3/distributors
Source/Version 4/codeChunks
Source/Version 4/distributors
Source/Version 4/3. Communications I
test.txt